.bar {
    width: 100%;
    max-width: 200px;
    height: 20px;
    position: relative;
}

.bar span {
    color: #000;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.filled {
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    border-radius: 0.25rem;  /* Make the filled portion rounded */
}

/* This seems to be the black marker at the right end of the bar. 
If you want it to look smoother, you might want to adapt this. */
.bar::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2px;
    height: 100%;
    width: 2px;
    background: black;
}
