.bar {
    width: 200px;
    height: 20px;
    background: #e0e0e0;
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.bar span {
    position: absolute; 
    z-index: 2; /* raised z-index */
    color: #000; 
    font-size: 12px; 
}

.filled {
    height: 100%;
    position: absolute; /* changed to absolute */
    left: 0; /* specify a starting point */
    z-index: 0.5;
}

.bar::after {
    content: "";
    position: absolute;
    top: -2px;  
    bottom: -2px;
    left: 100%;  
    width: 2px;  
    background: black;  
    z-index: 1.5; 
}
